 h2
{
  font: 40px Brush Script MT;
  color: yellow;
  margin: 0px 2px 0px 10px;
  float: left;
 }
 
h1
{
  font: 20px tahoma;
  color: yellow;
  margin: 15px 5px 5px 5px;
  /*margin: 2.5% 2% 2% 1%;*/
  float: left;
 }
 

 body
{
  margin:0;
  padding:0;
}
 
 .header
 {
  width:100%;
  height:20px;
  padding-top:5px; 
 }
 
 #MainDiv
{
 background: darkblue;
 width: 95%;
 height: auto;
 margin: 10px auto;
 box-shadow: 10px 10px 15px grey;
 padding-top: 5px;
 padding-bottom: 5px;
 }
 
#MainDiv table
{
 width: 96%;
 padding-left: 1%;
 padding-right: 1%;
 padding-bottom: 2%;
 }
 
 #GroupCat
 {
	float: right;
	width: 60%;
	/*background: darkblue;*/
	margin:0% 3% 1% auto;
	font: 100% Brush Script MT;
	color: white;
 }
 
 #GroupCat input
 {
	float: right;
	width: 50%;
	padding-left: 2%;
	padding-right: 2%;
	font: 96% Brush Script MT;
	color: grey;
 }
 
 #textField
 {
  width:100%;
 }
 
 #textField1
 {
  width:99%;
 }
 
 #textField2
 {
  width:99%;
 }

select
 {
  width:100%;
 }
 
 button{
 width: 100%;
 }
 
 input[type="button"], input[type="reset"], input[type="submit"], button[type="button"]
 {
	opacity: 0.8;
	border: 0px;
	background: white;
	font: 16px tahoma;
	width: 100%;
	height: 30px;
 }
 
 input[type="text"]
 {
	border: 0px;
	outline: none;
	opacity: 0.8;
	background: #F8DE7E; /*#bccd95;*/
	width: 100%;
	height: 30px;
 }
 
input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"], button:hover[type="button"]
 {
	opacity: 0.4;
	filter: alpha(opacity=60);
	box-shadow: 2px 2px 2px blue;
 }
 
 input:hover[type="text"]
 {
	opacity: 1;
	background: lightyellow;
 }
 
 #bckImg{
	opacity: 0.8;
	filter: alpha(opacity=40);
 }
 

